<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Route Routing</title>
  <link rel="stylesheet" type="text/css" href="lib/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body ng-app="RouteApp">
  <div class="container">
    <div class="col-md-12">
      <h1>Choose Your Florida Route</h1>
      <button class="btn btn-info" ng-controller="TamiamiCtrl" ng-click="tamiamiTrl()">Tamiami Trail</button>
      <button class="btn btn-info" ng-controller="A1ACtrl" ng-click="a1aHwy()">FL St. Route A1A</button>
    </div>
    <div ng-view></div>
  </div>


  <script type="text/javascript" src="lib/node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="lib/node_modules/bootstrap/dist/js/bootstrap.min.js">
  </script>
  <script type="text/javascript" src="lib/node_modules/angular/angular.min.js"></script>
  <script type="text/javascript" src="lib/node_modules/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="app/app.js"></script>
  <script type="text/javascript" src="app/controllers/A1ACtrl.js"></script>
  <script type="text/javascript" src="app/controllers/TamiamiCtrl.js"></script>
</body>
</html>
